.to-top {
  bottom: 0;
  cursor: pointer;
  margin: 0 8px 12px 0;
  position: fixed;
  right: 0;
  opacity: 0;

  background: #ffffffa3;
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;
}

.show-scrollTop {
  opacity: 1 !important;
  transition: all 0.2s ease-in-out;
}


.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);

  width: 1px;
  height: 1px;
}

